.App {
  margin-top: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Content{

  border: 1px solid black;
  text-align: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.image1{
  width: 70%;
}

.text1{
  width: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Header{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 170px;
  width: 100%;
  line-height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-align: center;
  align-items: center;
  align-content: center;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}
.h1-header{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px; 
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}
.h5-header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  letter-spacing: 3px; 
  size: 18px;
  color: white;
  font-weight: 200;
}
.container1{
  display: flex;
  justify-content: space-around;
  align-content: left;
  /*border: 2px solid black;*/
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.container2{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  /*border: 2px solid black;*/
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 10px;
}

.checkBoxes{
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  margin-right: 20px;
  margin-left: 20px;  
}

.checkboxesStyle{
  
  display: flex;
  align-items: left !important;
  flex-direction: column;
  vertical-align: middle;
  float: left;
  margin-bottom: 5px;

}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0px 1px;
}

.buttonStyle{
  background-color: #282c34;
  height: 40px;
  line-height: 40px;
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
  align-content: center;
}
.buttonStyle:hover{
  /*font-style: italic;*/
  font-weight: 700;
  color: #282c34;
  background-color: white;
  box-shadow: 0px 0px 0px 3px black;

}