.App > * {
    margin-top: 0px;
    /*-webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Content{
  display: flex;
  padding-left: 30px;
  padding-right: 200px;
  margin-left: 30px;
  margin-right: 30px;
  width: 70vp;
  height: 100vp;
  /*max-width: 45rem;  /*erstatt med max-width for responsiv(men stygg) løsning
  height: 25rem;  erstatt med max-height for responsiv(men stygg) løsning*/
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 500px){
  .Content {
    padding: 10px 10px;
    font-size: 1em;
    flex-direction: column;
  }
  .container1{
    flex-direction: column;
  }
  .container2{
    flex-direction: column;
  }
  /*.firstHeader{
    size: 9px !important;
  }
  .secondHeader{
    size: 9px !important;
  }*/
  .buttonStyle{
    height: 20px;
    line-height: 20px;
    width: 75px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 9px;
  }
}
.mediaContent{
  width: 60vp;
  height: 60vp;
  flex-direction: row;
}
.image1{
  width: 70vp;
  height: 70vp;
  align-items: right;
}

.text1{
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vp;
  height: 100vp;
  /*max-width: 10rem;*/
}

.Header{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 170px;
  width: 100vp;
  line-height: 35px;
  text-align: center;
  align-items: center;
  align-content: center;
  padding-top: 20px;
}

.firstHeader{
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px; 
  color: white;
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}
.secondHeader{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: black;
  background: #ccc;
  letter-spacing: 3px; 
  justify-content: space-around;
  color: white;
  font-weight: 200;
}
.container1{
  display: flex;
  justify-content: space-around;
  align-content: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

.container2{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 10px;
}

.checkBoxes{
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  margin-right: 20px;
  margin-left: 20px;  
}

.checkboxesStyle{
  display: flex;
  align-items: left !important;
  flex-direction: column;
  vertical-align: middle;
  float: left;
  margin-bottom: 5px;
}
.Tabs{
  margin-left: 20px;
  margin-right: 20px;
}
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0px 1px;
  text-decoration: black;
  text-decoration-style: solid;
}

.buttonStyle{
  background-color: #282c34;
  height: 40px;
  line-height: 40px;
  width: 120px;
  margin-bottom: 20px;
  margin-top: 20px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-align: center;
  align-content: center;
}
.buttonStyle:hover{
  /*font-style: italic;*/
  font-weight: 700;
  color: #282c34;
  background-color: white;
  box-shadow: 0px 0px 0px 3px black;
  cursor: pointer;
}
.headerSubmit{
  background-color: white;
  height: 20px;
  line-height: 20px;
  width: 144px;
  vertical-align: middle;
  font-size: 10px;
  font-weight: 600;
  color: #282c34;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.inputName{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
}

.headerForm{
  display: flex;
  padding-bottom: 40px;
  flex-direction: row;
}

.pic{
  width: 100vp;
  max-width:60px !important;
  max-height: 60px !important;
}

.textContent{
  width: 100vp;
  max-width: 50rem;
}

